<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}"/>
<meta property="og:type" content="article"/>
{% if title %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}"/>
{% endif %}
{% if robots %}
    <meta name="robots" content="{{ robots }}" />
{% endif %}
{% if author %}
    <meta name="author" content="{{ author }}" />
    <meta property="og:article:author" content="{{ author }}" />
{% endif %}
{% if description %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
{% endif %}
{% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
{% endif %}
